/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/



#myUL{
    list-style: none;
    display: flex;
    flex-direction: column;
}



body h1{
    display: flex;
    justify-content:center ;

}

h4 {
    display: flex;
    justify-content: center;
}

.coffee-forms {
    /*display: flex;*/
    /*justify-content: right;*/
}

.coffee-forms p {
    margin-top: 4px;
    margin-bottom: 4px;
}

#myInput {
    width: 100%;
}

#submit {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #3d85c4;
    color: white;
}


#coffee-input {
    width: 100%;
}